* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-btn {
  background: #d2691e;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  width: fit-content;
}

.secondary-btn {
  background: gray;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  width: fit-content;
}
