@import '@angular/cdk/overlay-prebuilt.css';

@import 'theme.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-btn {
  background: @secondary-color;
  color: @white-color;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  width: fit-content;
  border: none;
  cursor: pointer;
}

.secondary-btn {
  background: @gray-color;
  color: @white-color;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  width: fit-content;
  border: none;
  cursor: pointer;
}

.cdk-dialog-container {
  &:focus-visible {
    outline: none;
  }
}
